<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Yuhan1207</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mytest?serverTimezone=Asia/Taipei</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.format_sql">true</property>

        <!--我的-->
        <mapping class="com.howard.rentalmytrack.vo.RentalMyTrackVo_ORM"/>
        <mapping class="com.howard.rentalorder.vo.RentalOrderVo_ORM"/>
        <mapping class="com.howard.rentalorderdetails.vo.RentalOrderDetails_ORM"/>
        <!--firesnoopy的-->
        <mapping class="com.snpooy.studioorder.model.StudioOrder"/>
        <!--曉妮的-->
        <mapping class="com.yu.rental.model.Rental"/>
        <mapping class="com.yu.rentalcategory.model.RentalCategory"/>
        <mapping class="com.yu.rentalmyfavorite.model.RentalMyFavorite"/>
        <mapping class="com.yu.rentalpic.model.RentalPic"/>
        <mapping class="com.yu.rentset.model.RentSet"/>
        <!--拯昌的-->
        <mapping class="com.roger.articlecollection.vo.ArticleCollectionVO"/>
        <mapping class="com.roger.clicklike.vo.ClickLikeVO"/>
        <mapping class="com.roger.columnarticle.vo.ColumnArticleVO"/>
        <mapping class="com.roger.columnreply.vo.ColumnReplyVO"/>
        <mapping class="com.roger.member.vo.MemberVO"/>
        <mapping class="com.roger.notice.vo.NoticeVO"/>
        <mapping class="com.roger.report.vo.ReportVO"/>
        <!--啟仁的-->
        <mapping class="com.ren.admauthority.model.AdmAuthorityVO"/>
        <mapping class="com.ren.administrator.model.AdministratorVO"/>
        <mapping class="com.ren.authorityfunction.model.AuthorityFunctionVO"/>
        <mapping class="com.ren.product.model.ProductVO"/>
        <mapping class="com.ren.productcategory.model.ProductCategoryVO"/>
        <mapping class="com.ren.title.model.TitleAdmVO"/>
        <mapping class="com.ren.title.model.TitleVO"/>
        <!--依庭的-->
        <mapping class="com.iting.cart.model.CartVO"/>
        <mapping class="com.iting.productmyfavorite.model.ProductMyFavoriteVO"/>
        <mapping class="com.iting.productorder.model.ProductOrderVO"/>
        <mapping class="com.iting.productorderdetail.model.ProductOrderDetailVO"/>
        <mapping class="com.iting.productpicture.model.ProductPictureVO"/>
        <!--芷昀的-->
        <mapping class="com.chihyunro.coupon.model.Coupon"/>
        <mapping class="com.chihyunro.mycoupon.model.Mycoupon"/>
        <mapping class="com.chihyunro.news.model.News"/>
        <mapping class="com.chihyunro.servicepicture.model.ServicePicture"/>
        <mapping class="com.chihyunro.servicerecord.model.ServiceRecord"/>
        <mapping class="com.chihyunro.servicerobot.model.ServiceRobot"/>

    </session-factory>
</hibernate-configuration>
